<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../vendor/autoload.php"
         colors="true">
    <php>
        <ini name="date.timezone" value="Europe/London"/>
        <server name="SERVER_NAME" value="www.example.com"/>
        <server name="REMOTE_ADDR" value="8.8.4.4"/>
        <server name="REQUEST_URI" value="/"/>
        <server name="HTTP_USER_AGENT" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/537.31 (KHTML, like Gecko) Chrome/26.0.1410.33 Safari/537.31"/>
        <server name="HTTP_REFERER" value="https://www.google.co.uk/search?q=example.com"/>
        <server name="HTTP_ACCEPT_LANGUAGE" value="en-GB,en;q=0.8"/>
        <server name="HTTP_DNT" value="1"/>
        <cookie name="__utma" value="217344784.1277951898.1353238970.1359405715.1363640418.6"/>
        <cookie name="__utmb" value="217344784.2.10.1363640418"/>
        <cookie name="__utmc" value="217344784"/>
        <cookie name="__utmz" value="217344784.1353250868.2.2.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=example.com"/>
    </php>
    <testsuites>
        <testsuite name="GASS Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>
