<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../vendor/autoload.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false">
    <php>
        <ini name="date.timezone" value="Europe/London"/>
        <ini name="memory_limit" value="1024M"/>
        <server name="SERVER_NAME" value="www.example.com"/>
        <server name="REMOTE_ADDR" value="8.8.4.4"/>
        <server name="REQUEST_URI" value="/"/>
        <server name="HTTP_USER_AGENT" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/537.31 (KHTML, like Gecko) Chrome/26.0.1410.33 Safari/537.31"/>
        <server name="HTTP_REFERER" value="https://www.google.co.uk/search?q=example.com"/>
        <server name="HTTP_ACCEPT_LANGUAGE" value="en-GB,en;q=0.8"/>
        <cookie name="__utma" value="217344784.1277951898.1353238970.1359405715.1363640418.6"/>
        <cookie name="__utmb" value="217344784.2.6.1363640418"/>
        <cookie name="__utmc" value="217344784"/>
        <cookie name="__utmz" value="217344784.1353250868.6.2.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=example.com"/>
    </php>
    <testsuites>
        <testsuite name="GASS Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Gass/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>
